.grid-cell {
    width: 145px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
#target {
    display: grid;
    grid-template-columns: repeat(10, 145px);  
    gap: 6px;
}
.on {
    background-color: orange;
}
